.Post {
  display: flex;
  position: relative;
  background-color: #161b22;

  box-shadow:
    rgba(240, 46, 170, 0.4) -5px 5px, 
    rgba(240, 46, 170, 0.3) -10px 10px, 
    rgba(240, 46, 170, 0.2) -15px 15px, 
    rgba(240, 46, 170, 0.1) -20px 20px, 
    rgba(240, 46, 170, 0.05) -25px 25px;

  will-change: box-shadow;

  margin-bottom: 6rem;
}

.markdown {
  padding-inline: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #58a6ff;
}

a:hover {
  text-decoration: underline;
}

.project {
  position: absolute;
  right: 0;
  top: -1.5rem;

  color: grey;
}

.date {
  position: absolute;
  left: 0;
  top: -1.5rem;

  color: grey;
}
