.experience h2 {
  display: inline-block;
  text-transform: capitalize;
}

.experience .company {
  color: var(--accent-orange);
}

.experience .position {
  font-weight: lighter;
  font-style: italic;
}

.experience li {
  font-size: 1.2rem;
  list-style: none;
}

.experience li::before {
  content: '⌲';

  color: var(--accent-orange);
  margin-right: 1rem;
}

.experience h3 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: lighter;
}
