.entries {
  width: fit-content;
  border-radius: 10px;
  background: var(--bg-secondary);
  padding-bottom: 2em;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line + .line {
  margin-top: 3em;
}

.line-number {
  text-align: start;
  margin-left: 1em;
  font-size: 1.5em;
  color: #808080;
}

.submit {
  position: relative;
  background-color: white;
  
  padding: 0.5rem;
  margin-top: 2em;
  font-size: 2em;
  border-radius: 5px;
  border: 0;
  align-self: center;
  
}

.confirmation {
  position: absolute;
  color: white;
  font-size: 1em;
  left: 13rem;
}

.sending {
  background: red;
  position: absolute;
  transform: scale(0.5);
  top: -1em;
  left: 5em; 
}
