.code-look {
  font-family: Consolas, Courier, monospace;
  font-size: 1.5em;
}

.entry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  text-align: center;
  color: white;

  display: inline-block;
  width: 25em;
  height: 2.5em;

  background: none;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.big {
  height: 15.625em;
  text-align: start;
  padding: 1em;
  width: 23em;
}

.grey {
  color: #808080;
}

.key-word {
  margin-inline: 1rem;
  display: inline-block;
  color: #569cd6;
}

.key-word::before {
  content: '<';
  color: #808080;
}

.key-word::after {
  content: '>';
  color: #808080;
}