.contact {
  text-align: center;
  margin-inline: auto;
}

.heading {
  font-family: 'Major Mono Display', monospace;
  font-size: 3rem;
  letter-spacing: 0.5em;
  margin: 0;
}

.inputs {
  margin-top: 5em;
  width: fit-content;
  margin-inline: auto;
}

.entry {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  text-align: center;
  color: white;
  font-family: "Monaco";
  font-size: 1.5em;

  display: inline-block;
  width: 25em;
  height: 2.5em;

  background: #090b0f;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.big {
  height: 15.625em;
  text-align: start;
  padding: 1rem;
}

label {
  font-family: 'Major Mono Display', monospace;
  margin-inline: 1rem;
  display: inline-block;
}

.text {
  font-family: "Monaco";
  font-size: 1.5em;
}

.small {
  font-size: 1rem;
  display: block;
}

.second-heading {
  display: block;
  margin-bottom: 0.3em;
  margin-top: 3em;
}

.submit {
  margin-top: 2em;
  font-family: "Monaco";
  font-size: 2em;
  border-radius: 5px;
  border: 0;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

@media only screen and (max-height: 1000px) {
  .contact {
    font-size: 12px;
  }
  
  .big {
    height: 100px;
  }
  
  .info {
    position: absolute;
    top: 250px;
    left: 50px;
  }
}

