.contact {
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.contact-form {
  margin-right: 5em;
  padding-right: 5em;
  border: 1px;
  border-color: darkgrey;
}

.heading {
  font-family: 'Major Mono Display', monospace;
  font-size: 3rem;
  letter-spacing: 0.5em;
  margin: 0;
  margin-bottom: 2em;
}

.third-heading {
  display: block;
  margin-bottom: 1em;
}

.inputs {
  width: fit-content;
  margin-inline: auto;
}

.entry {
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry + .entry {
  margin-top: 3em;
}

.field {
  text-align: center;
  color: white;
  font-family: "Monaco";
  font-size: 1.5em;

  display: inline-block;
  width: 25em;
  height: 2.5em;

  background: #090b0f;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.big {
  height: 15.625em;
  text-align: start;
  padding: 1rem;
}

label {
  font-family: 'Major Mono Display', monospace;
  margin-inline: 1rem;
  display: inline-block;
}

.info {
  font-size: 2em !important;
}

.text {
  font-family: "Monaco";
  font-size: 1.5em;
}

.block {
  display: block;
}

.speach {
  position: relative;
  width: 18em;
  display: flex;
  margin-bottom: 0.3em;
}

.second-heading {
  position: absolute;
  top: 50%;
  left: 3em;
  
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;

  font-style: italic;
  color: #fff01f;

  animation: 2s steps(100, end) 0.5s 1 type forwards;
}

.talking-duck {
  display: inline-block;
  width: 3em;
  animation: 0.5s linear 0s 1 rotate forwards;
}

@keyframes rotate {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(-1) rotate(-25deg);
  }
}

@keyframes type {
  0% {
    width: 0;
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
    width: 15.6em;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.submit {
  margin-top: 2em;
  font-family: "Monaco";
  font-size: 2em;
  border-radius: 5px;
  border: 0;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

@media only screen and (max-height: 1000px) {
  .contact {
    font-size: 12px;
  }
  
  .big {
    height: 100px;
  }

  .contact-form {
    margin-right: 0;
    padding-right: 0;;
  }
}

