.Header {
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: fit-content;
  align-self: center;
}

.Header-link {
  font-family: 'Neonderthaw', cursive;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  width: auto;
}

.Header-link + .Header-link {
  margin-left: 7rem;
}

.purpleNeon {
  text-shadow:
    0 0 7px #fff,
    0 0 9px #fff,
    0 0 20px #B026FF,
    0 0 30px #B026FF;
}

.yelloNeon {
  text-shadow:
    0 0 7px #fff,
    0 0 9px #fff,
    0 0 20px #FFF01F,
    0 0 30px #FFF01F;
}

.contactLink {
  position: absolute;
  right: 6rem;
  text-shadow:
    0 0 7px #fff,
    0 0 9px #fff,
    0 0 20px rgba(240, 46, 170),
    0 0 30px rgba(240, 46, 170);
}

.brokenNeon {
  text-shadow: 0 0 7px #fff;

  animation: flicker 3s infinite alternate;
}

@keyframes flicker {
  0%, 10% {
    text-shadow:
      0 0 7px #fff,
      0 0 9px #fff,
      0 0 20px #F72119,
      0 0 30px #F72119;
  }

  3% {
    text-shadow: 0 0 7px #fff;
  }
}

.neonDuck {
  transform: scaleX(-1);
  margin-right: 7rem;

  rotate: 45deg;
  width: 48px;

  filter: invert(100%) drop-shadow(0 0 5px #FFF01F);
}
