.Header {
  padding-top: 2rem;
  padding-bottom: 5rem;
  align-self: center;
}

.Header-link {
  font-family: 'Major Mono Display', monospace;
  text-decoration: none;

  color: white;
  font-size: 1.8rem;

  display: inline-block;
  width: 15rem;
  text-align: center;

  transition: letter-spacing 250ms ease-out;
}

.Header-link:hover {
  letter-spacing: 0.5rem;
}

.neonDuck {
  margin-right: 5rem;
  width: 48px;

  transform: translateY(20%) scaleX(-1);
  filter: invert(100%) drop-shadow(0 0 5px #FFF01F);
}
