.navContainer {
  margin-bottom: 4rem;
  position: sticky;
  top: 0;
  background: rgba(13, 17, 23, 0.7);
  backdrop-filter: blur(4px);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;

  width: 60rem;
  z-index: 1;
}


.Header-link {
  padding-block: 1rem;
  font-family: 'Major Mono Display', monospace;
  text-decoration: none;
  position: relative;

  color: white;
  font-size: 1.2rem;

  transition: all 250ms ease-out;
}

.Header-link:hover {
  letter-spacing: 0.5em;
  padding-left: 0.5em;
}

.underline::after {
  content: "";

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  margin-bottom: 1rem;
  transform: scale(0);
  height: 2px;
  background-color: rgba(240, 46, 170); 
  border-radius: 1px;

  transition: transform 250ms ease-out;
}

.underline:hover::after {
  transform: scale(1);
}

.neonDuck {
  width: 40px;

  transform: scaleX(-1);
  filter: invert(100%) drop-shadow(0 0 5px #FFF01F);
  will-change: filter;
}
