.Post {
  box-shadow:
    rgba(240, 46, 170, 0.5) 0 0 3px,
    rgba(240, 46, 170, 0.4) -5px 5px, 
    rgba(240, 46, 170, 0.3) -10px 10px, 
    rgba(240, 46, 170, 0.2) -15px 15px, 
    rgba(240, 46, 170, 0.1) -20px 20px, 
    rgba(240, 46, 170, 0.05) -25px 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 20rem;
}

.text {
  padding-inline: 1rem;
}

img {
  width: 100%;
}
