.Post {
  display: flex;
  position: relative;

  box-shadow:
    rgba(240, 46, 170, 0.5) 0 0 3px,
    rgba(240, 46, 170, 0.4) -5px 5px, 
    rgba(240, 46, 170, 0.3) -10px 10px, 
    rgba(240, 46, 170, 0.2) -15px 15px, 
    rgba(240, 46, 170, 0.1) -20px 20px, 
    rgba(240, 46, 170, 0.05) -25px 25px;

  margin-bottom: 6rem;
}

.markdown {
  padding-inline: 1rem;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

a {
  color: rgba(240, 46, 170);
}
