.game-development {
  width: min(60rem, 70%);
  margin: 0 auto;
  padding-top: 110px;
  height: calc(100vh - 110px);
  transform: translateY(-110px);
  max-height: fit-content;

  display: flex;
}

.game-development-centered-container {
  margin: auto;
}

.game-development h1 {
  margin-top: 0;
  font-size: 3rem;
  text-transform: capitalize;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.game-development-container {
  display: flex;
  justify-content: space-between;
}

.game-development-main {
  width: 100%;
}

.game-development-text:first-child {
  margin-top: 0;
}

.game-development-text {
  width: 35rem;
  font-size: 1.1rem;
}

.game-development-projects {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 8rem;
  gap: 1rem;
}
