#start {
  height: calc(100vh - 110px);
  width: 100%;
  
  display: flex;
  position: relative;
}

.work-intro-container {
  margin: auto;
  transform: translateY(-110px);
}

.table {
  margin-inline: auto;
  margin-top: 7rem;
}

.arrow {
  width: 40px;
  filter: invert();
  position: absolute;
  bottom: 3rem;
  left: 50%;

}

.arrow .moving {
  animation: arrow-down 3s ease-in-out 0s infinite;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  87% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
