#start {
  height: calc(100vh - 110px);
  width: 100%;
  display: table;
}

.work-intro-container {
  display: table-cell;
  vertical-align: middle;
}

.table {
  margin-inline: auto;
  margin-top: 7rem;
}
