.App {
  overflow: auto;
  background-color: #0D1117;
  min-height: 100vh;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100vh;

  margin-inline: auto;
}

a {
  text-decoration: none;
  font-family: 'Neonderthaw', cursive;
  color: white;
  
  text-shadow:
    0 0 7px #fff,
    0 0 9px #fff,
    0 0 20px #1FFF0F ,
    0 0 30px #1FFF0F ;
}