.App {
  overflow: auto;
  background-color: #0D1117;
  min-height: 100vh;
  color: white;

  display: block;
  margin-inline: auto;
}

.container {
  padding-top: 8rem;
  display: block;
  width: fit-content;
  margin-inline: auto;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: row;
}
