.App {
  min-height: 100vh;
  height: fit-content;
  color: white;

  margin-inline: auto;
}

.container {
  width: fit-content;
  margin-inline: auto;
}

:root {
  --accent-color: rgba(240, 46, 170);
  --bg-primary: #0D1117;
  --bg-secondary: #161b22;
}

.code-look {
  font-family: 'Mechanical', monospace;
}

code {
  font-family: 'Mechanical', monospace;
}
