.page {
    height: 100vh;
    scroll-snap-align: start;
    
    position: relative;
}

.content {
    padding-top: 7.1875rem;
}

.arrow {
    width: 48px;
    filter: invert();
    opacity: 1;

    position: absolute;
    bottom: 0;
    left: 50%;
}
