.page {
    height: 100vh;
    scroll-snap-align: start;
    
    position: relative;
}

.content {
    padding-top: 7.1875rem;
}

.arrow {
    transform: scale(0.03);
    filter: invert();
    opacity: 1;

    position: absolute;
    top: 0;
}
