.page {
    height: 100vh;
    scroll-snap-align: start;
    
    position: relative;
}

.content {
    padding-top: 7.1875rem;
}

.arrow {
    width: 48px;
    filter: invert();
    opacity: 1;

    position: absolute;
    bottom: 2rem;
    left: 50%;

    animation: arrow-move 2s ease-in-out 0s infinite;
}

@keyframes arrow-move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(0);
    }
}
