.table {
  width: fit-content;
  text-align: start;
}

.table-title {
  font-weight: bolder;
}

.sections {
  display: flex;
  flex-direction: column;
}

.section {
  width: fit-content;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  
  transition: all 100ms linear;
}

.section::before {
  display: inline-block;
  content: '_';
  color: white;
  width: 0;
  scale: 0;
}

.section:hover::before {
  color: white;
  width: auto;
  scale: 1;

  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.section:hover {
  color: var(--accent-color);
  /* padding-left: 2rem; */
}

.section + .section {
  margin-top: 1rem;
}
