.work {
  width: 100vw;
}

.threeContainer {
  height: 100vh;
  position: fixed;
  visibility: hidden;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 0;
}

#css3d {
  overflow: hidden;
}

#webgl {
  position: absolute;
  /* top: 100%; */
}

.dummy {
  height: 100vh;
}

section {
  position: relative;
}
