.work {
  width: 100vw;
}

.threeContainer {
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0;
}

#css3d {
  overflow: hidden;
  /* background: red; */
}

#webgl {
  position: absolute;
  /* top: 100%; */
}

.dummy {
  height: 100vh;
}
