.work {
  width: 100vw;
}

.threeContainer {
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0;
}

#css3d {
  width: 100%;
  overflow: hidden;
}

#webgl {
  position: absolute;
  top: 100%;
  left: 0;
}

.dummy {
  height: 92vh;
}
